<!DOCTYPE html>
<html>

<head>
  <title>Cloudy-Drive</title>
  <%- include('partials/head') %>
</head>

<body class="p-0 m-0 d-flex flex-column vh-100">

  <%- include('partials/navbar') %>

  <div class="container p-5 m-0 flex-grow-1">

    <% if (typeof user === 'undefined') { %>
    <!-- Not logged in -->

    <%- include('partials/welcome') %>

    <% } else { %>
      
    <!-- Logged-in -->
    <%- include('partials/drive') %>

    <% } %>
  </div>
  <%- include('partials/footer') %>
</body>

</html>